.preview-container{
    position: relative;
    display: flex;
    padding: 140px $normal-padding;
    background-color: $s-clr4;
    margin: 0;
    color: $p-clr3;
    gap: 125px;
    overflow-x: hidden;
    // align-items: flex-end;

    h2{
        max-width: 445px;
    }

    p{
        color: #979797;
    }

    .right-disk{
        position: absolute;
        width: 200px;
        right: -100px;
        bottom: 0;
    }

    .card-container{
        display: flex;

        h3{
            color: $p-clr2;
        }

        img{
            width: 72px;
            height: 72px;
            margin-right: 23px;
        }
    }
    
}