.clients-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px $normal-padding;
    background-color: $s-clr4;
    margin: 0;
    color: $p-clr3;
    // align-items: flex-end;

    h2{
        margin-bottom: 60px;
    }
    .stories-title {
        span {
            color: $s-clr1;
        }

        text-align: center;
        max-width: 950px;
        margin-bottom: 90px;
    }

    .top-disk {
        position: absolute;
        width: 200px;
        left: 0;
        top: 0;
    }

.logo-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}


    .logo {
       width: 15%;
       height: 100%;

       &.gadget{
        width: 10%;
       }
    }


}